textarea{
    margin-left: 20px;
    border: none;
}
.vas{
    background-color: white;
    height: 30px;
    
}

.vas{
   margin-top: 100px;
    text-decoration: none;
    text-transform: none;
    color: black;
}